* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: aqua;
    height: 10px;
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding, 9rem);
}

body {
    background-image: url(closeup-computer-screen-software-developer-typing-programming-language-it-startup-agency-display-concept-system-engineer-writing-source-code-scrolling-text-database-functions-script.jpg);
    background-size: 300%;
    background-attachment: fixed;
    min-width: 100%;
}

/* MENU NAVEGAÇÃO */

nav {
    padding: 3%;
    position: fixed;
    top: 0;
    overflow: hidden;
    min-width: 100%;
    background-color: black;
    z-index: 999;
    animation: aparecer;
    animation-duration: 3.5s;
}

nav li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav li a {
    font: bold;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav li a:hover {
    color: rebeccapurple;
    transition: all .3s ease-in-out;
}

/* HOME */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    flex-direction: column;
    padding-top: 15%;
    padding-bottom: 10%;
}

.imagem img {
    height: 500px;
    animation: aparecer;
    animation-duration: 2s;
}

@keyframes aparecer {
    from  {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.imagem h1 {
    padding-top: 2%;
    color: hsl(0, 0%, 100%, .9);
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: aparecer;
    animation-duration: 2s;
    text-align: center;
}

.home a {
    color: hsl(0, 0%, 100%, .6);
    padding-top: 3%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 1.5s infinite alternate;
    text-decoration: none;
}

.home a:hover {
    font-size: 2rem;
    color: rgb(77, 24, 131);
    transition: all 1s ease;
}

@keyframes move {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
    
}

/* DESCRIÇÃO */

.descricao {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-top: 0;
    background-color: rgb(77, 24, 131);
    padding-bottom: 5%;
    min-width: 100%;
}

.descricao h2 {
    width: 70%;
    color: rgb(16, 202, 202);
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descricao p {
    width: 85%;
    color: white;
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .slider {
    margin: 0 auto;
    width: 1250px;
    height: 400px;
    overflow: hidden;
}

.sliders {
    width: 400%;
    height: 400px;
    display: flex;
}

.sliders input {
    display: none;
} 

.slide {
    width: 50%;
} */

 .slide img {
    width: 700px;
}
/*
.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 20px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 50%;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div  {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    align-items: center;
    justify-content: flex;
} */

/* SERVIÇOS */
.servicos {
    background-color: #10caca;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.servicos h1 {
    color: white;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;    
}

.servicos img {
    width: 1200px;
    padding-bottom: 5%;
    border-radius: 40px;
}

/* PREÇOS */

.precos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding-top: 0;
    padding: 5%;
    background-color: black;
}

.precos ul {
    background-color: #10caca;
    padding: 2%;
    width: 300px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.precos li {
    list-style: none;
}

.precos li h2 {
    padding: 2%;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.precos li h4 {
    padding: 2%;
    padding-top: 5%;
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.precos li h6 {
    padding: 2%;
    padding-top: 5%;
    text-align: center;
    font-size: .9rem;
    font-family: 'Roboto';
}

.precos li p {
    padding-top: 15%;
    text-align: left;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.precos .fa-solid, .fa-brands {
    padding-right: 10%;
    font-size: 1.5rem;
    color: #4d1883;
    border-radius: 60%;
}

/* CONTATO */

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(77,24,131);
    background: linear-gradient(90deg, rgba(77,24,131,1) 35%, rgba(16,202,202,1) 100%);
}

.contato1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    margin-left: 15%;
}

.contato1 li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: hsl(0, 0%, 100%, .8);
    min-width: 100%;
}

.contato1 p {
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1%;
    text-align: justify;
    max-width: 40%;
}

.contato1 .links {
    display: flex;
    padding: 3%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50%;
    
}

.links .fa-brands, .fa-regular {
    font-size: 2rem;
    color: white;
}

.contato1 a, .contato a i {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.contato1 a:hover , .contato a i:hover {
    color: #10caca;
    transition: all .3s ease-in-out;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    flex-direction: column;
    margin-right: 15%;
}

form {
    align-items: center;
    justify-content: center;
    border: 1px solid hsl(0, 0%, 100%, .8);
    padding: 8%;
    border-radius: 20px;
}

.box p {
    color: hsl(0, 0%, 100%, .8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 8%;
    padding-top: 2%;
    padding-bottom: 8%;
    font-size: 1rem;
}

article h1 {
    border: none;
    color: hsl(0, 0%, 100%, .8);
    background-color: transparent;
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputsingle {
    position: relative;
    padding-bottom: 9%;
}

.input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid hsl(0, 0%, 100%, .8);
    outline: none;
    color: white;
}

.inputsingle label {
    position: absolute;
    left: 0;
    bottom: 38px;
    cursor: text;
    color: hsl(0, 0%, 100%, .8);
}

label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    padding-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(77, 24, 131);
    color: white;
}

.btn input:hover {
    color: rgb(77, 24, 131);
    background-color: #10caca   ;
    transition: all .3s ease-in-out;
}

form .inputsingle .input:focus ~ label,
form .inputsingle .input:valid ~ label {
    transform: translateY(-130%);
    font-size: .65rem;
    transition: all .3s ease-in-out;
    color: rgb(77, 24, 131);
}

/* FOOTER */

footer {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 3%;
    background-color: black;
}

footer h2 {
    font-size: 1.2rem;
    padding-bottom: 6%;
    color: hsl(0, 0%, 100%, .8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer h4 {
    font-size: 1rem;
    padding-bottom: 13%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 0%, 100%, .8);
}

footer iframe {
    background-color: rgb(16, 202, 202);
    padding: .5%;
}

footer article {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

footer li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer ul:not(:last-child) {
    margin-right: 30px;
}

footer li p {
    padding-bottom: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 0%, 100%, .8);
}

footer li a {
    text-decoration: none;
    padding-bottom: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(0, 0%, 100%, .8);
}

footer li a:hover {
    color: rgb(16, 202, 202);
    transition: all .3s ease-in-out;
}

footer .copy {
    font-size: .8rem;
    margin-top: 140%;
}

footer .copy .fa-regular {
    font-size: .8rem;
    color: hsl(0, 0%, 100%, .8);
}

/* .nav, .descricao, .imagem, .servicos, .precos, .contato, .footer {
    visibility: hidden;
} */

@media (max-width: 1000px) { 
    
    html {
        scroll-behavior: smooth;
        scroll-padding: var(--scroll-padding, 2.5rem);
    }

    nav {
        position: sticky;
    }

    nav li a {
        font-size: 1rem;
    }

    .home {
        min-height: 100%;
    }

    .home img {
        height: 373px;
        margin-top: -30%;
    }

    .home .fa-solid {
        padding-top: 100%;
    }

    .home h1 {
        font-size: 3rem;
    }

    .descricao {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6%;
    }

    .descricao h2 {
        font-size: 2.5rem;
        text-align: center;
        min-width: 100%;
    }

    .descricao p {
        min-width: 100%;
        font-size: 1.1rem;
    }

    .descricao img {
        width: 350px;
        padding-top: 15%;
    }

    .servicos h1 {
        font-size: 1.5rem;
    }

    .servicos img {
        width: 350px;
        border-radius: 0;
    }

    .precos {
        flex-direction: column;
        padding: 15%;
    }

    .precos ul {
        margin-bottom: 10%;
    }
    .precos ul li p {
        margin-bottom: 10%;
    }

    .contato {
        flex-direction: column;
        padding-top: 10%;
        gap: 0;
    }

    .contato1 {
        max-width: 100%;
        padding-bottom: 0;
        margin: 0;
    }

    .contato1 .links {
        gap: 30%;
    }
    
    .contato1 p {
        min-width: 100%;
        padding: 5%;
    }

    .box {
        padding-bottom: 15%;
        padding-top: 15%;
        margin: 0;
    }

    form .inputsingle .input:focus ~ label,
    form .inputsingle .input:valid ~ label {
    transform: translateY(-130%);
    font-size: .65rem;
    transition: all .3s ease-in-out;
    color: hsl(0, 0%, 100%, .8);
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
        background-color: black;
    }

    footer h2 {
        font-size: .8rem;
        display: none;
    }

    footer h4 {
        font-size: .6rem;
        max-width: 90%;
        display: none;
    }

    footer p {
        font-size: .8rem;
        padding-bottom: 5%;
        display: none;
    }

    footer a {
        font-size: .7rem;
        padding-bottom: 0;
        display: none;
    }

    footer iframe {
        width: 100px;
        height: 100px;
        display: none;
    }

    footer .copy {
        margin-top: 0;
        display: block;
        padding-bottom: 0;
        min-width: 100%;
        margin-right: 60%;
    }

}
